@mixin text-field($theme-name, $themes) {
  $colors: map-get(
    $map: $themes,
    $key: $theme-name
  );

  .text-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 0px solid black;
    padding: 5px;
    position: relative;
    // box-shadow: 0.1px 0.2px 4px 1px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    color: map-get($map: $colors, $key: bgAccent);
    .text-input--label {
      position: absolute;
      font-weight: 700;
      text-transform: uppercase;
    }
    .movable {
      top: 55%;
      transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .text-input {
      line-height: 1.5rem;
      padding: 5px 5px 0px 0px;
      font-size: 1.2rem;
      margin-block-start: 15px;
      background: transparent;
      border: transparent;
      outline: 0;
      width: 100%;
      border-bottom: 1px solid map-get($map: $colors, $key: $allColors);
      color: map-get($map: $colors, $key: secondary);
      transition: all 0.1s cubic-bezier(0.23, 1, 0.32, 1);
      &:focus {
        border-bottom-width: 2px;
        + .text-input--label {
          top: 5px;
        }
      }
    }
  }
}
