@mixin main($theme-name, $themes) {
  $colors: map-get(
    $map: $themes,
    $key: $theme-name
  );
  $border: 0px solid
    map-get(
      $map: $colors,
      $key: "divider"
    );

  .main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    border: $border;
    height: 98vh;
    
    .side {
      min-width: 300px;
      border: $border;
      background-color: map-get($map: $colors, $key: bgSecondary);
      position: relative;
      .toggle-container {
        position: absolute;
        width:100%;
        bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px;
      };
    };
    .context {
      min-width: 500px;
      border: $border;
      background-color: map-get($map: $colors, $key: bgPrimary);
    }
    .main {
      border: $border;
      background-color: map-get($map: $colors, $key: bgPrimary);
      width: 100%;
    }
  }
}
