@mixin dims($factor: 1) {
  $number: 1 / $factor;
  width: percentage($number: $number);
  height: 70px;
}

$borderRadius: 10px;

@mixin borderLeft {
  border-top-left-radius: $borderRadius;
  border-bottom-left-radius: $borderRadius;
}

@mixin borderRight {
  border-bottom-right-radius: $borderRadius;
  border-top-right-radius: $borderRadius;
}

// Main Theming Mixins
@mixin nav-toggle($theme-name, $themes) {
  //Initial Variables
  $colors: map-get(
    $map: $themes,
    $key: $theme-name
  );

  .nav-toggle-container {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    box-shadow: 0.1px 0.2px 4px 1px map-get($map: $colors, $key: bgAccent);
    color: map-get($map: $colors, $key: primary);
    @include borderLeft;
    @include borderRight;
    .radio {
      display: none;
    }
    .option1,
    .option2 {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 0px solid black;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      z-index: 9999;
      padding: 15px;
    }
    .option1 {
      @include borderLeft;
      @include dims(2);
    }
    .option2 {
      @include borderRight;
      @include dims(2);
    }
    .selected {
      position: absolute;
      @include dims(2);
      background-color: map-get($map: $colors, $key: bgAccent);
      z-index: 9998;
      transition: left 0.3s ease-in-out, padding 0.3s ease;
    }

    #option1 {
      &:checked {
        ~ .selected {
          left: 0;
          @include borderLeft;
        }
        + .option1 {
          &:hover {
            cursor: context-menu;
          }
          color: map-get($map: $colors, $key: accent);
        }
      }
    }
    #option2 {
      &:checked {
        ~ .selected {
          left: 50%;
          @include borderRight;
        }
        + .option2 {
          &:hover {
            cursor: context-menu;
          }
          color: map-get($map: $colors, $key: accent);
        }
      }
    }
  }
}
